* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
button {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
  background: transparent;
  border: 1px solid black;
}
.counterContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 5rem;
}
.reset {
  width: 90%;
}

.imgGallery {
  padding: 6rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0rem;
}

.imgGallery img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.input {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid blue;
  outline: none;
}

.counter {
  display: flex;
  align-items: center;
}

.backgroundTheme {
  width: 50%;
  margin: auto;
}

.backgroundTheme input[type="text"] {
  width: 100%;
  margin-top: 6rem;
  border-bottom: 1px solid black;
}

.backgroundTheme .text {
  text-align: center;
  margin-top: 3rem;
}

.lightText {
  color: #fff;
}

.form-control {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input[type="color"] {
  border: none;
  cursor: pointer;
}
